/* Global Styles */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}

/* App Component Styles */
.App {
  text-align: center;
}

/* Main Content Styles */
main {
  padding-top: 50px; /* Adjust padding to account for the fixed header */
}

section {
  padding: 10px 0;
}

/* Specific Sections - Customize as needed */
#about, #experience, #skills-academics, #work, #contact {
  /* Add specific styles for each section if needed */
}

/* Responsive Design */
@media (max-width: 768px) {
  /* Styles for mobile or smaller screens */
}

/* Additional Styles */
/* Add here any additional global styles or specific styles for Header, About, etc. */
