.class-tile {
    border: 1px solid #ddd;
    padding: 5px;
    /* margin-bottom: 10px; */
    margin-bottom: 0;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.class-tile h4 {
    margin: 0 0 10px 5px;
    text-align: left;
}

.class-tile ul {
    padding-left: 20px; /* Adjust the padding to align the list */
    margin: 0;
}

.class-tile li {
    text-align: left;
    margin-bottom: 5px;
    padding-left: 2px; /* Adjust the left padding for each list item */
}
