.skills-academics-section {
    /* background: #f9f9f9; */
    /* Adjust the height as needed, or remove it to let content define the height */
}

.skills-academics-section .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.skills-academics-section h2 {
    color: #000000;
    margin-bottom: 1em;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    align-self: flex-start;
    margin-left: 20px;
    /* font-family: 'Courier New', Courier, monospace; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styles for skills and academics containers */
.skills-academics-section .container .skills-academics-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.skills-academics-section .container .skills-academics-container .skills {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items horizontally */
    justify-content: center; /* Center align items vertically */
    padding: 10px;
}

.skills-academics-section .container .skills-academics-container .skills .skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two-column layout for skills */
    gap: 10px;
    width: 100%; /* Adjust the width as needed */
    max-width: 600px; /* Set a maximum width for the grid */
}

.skills-academics-section .container .skills-academics-container .academics .academics-scrollable {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid layout for courses */
    gap: 10px;
    padding: 10px;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 450px; /* Set a maximum height */
    padding-bottom: 0;
    margin-bottom: 0;
}

.academics {
    /* border: 1px solid #ccc; */
    background-color: white;
    overflow-y: auto;
    padding: 10px;
    padding-bottom: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.section-divider {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.transcript-download {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.transcript-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.transcript-button:hover {
    background-color: #0056b3;
}

.skills-academics-container {
    width: 98%;
    margin: 10px auto;
}
